* {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 20px auto;
}

h1 {
  text-align: center;
}

#content {
  border: 1px solid gray;
  margin: 20px 0;
  padding: 20px;
}

#pagenation-container {
  border: 1px solid lightgrey;
  text-align: center;
}

#pagenation {
  list-style: none;
  display: inline-flex;
  gap: 8px;
  padding: 0;
}

#pagenation li {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid lightgray;
  border-radius: 4px;
  list-style-type: none;
  background-color: white;
  color: black;
  cursor: pointer;
  /* transition: background-color 0.3s, color 0.3s, border-color 0.3s; */
}

#pagenation li:hover {
  background-color: green;
  color: white;
  border-color: green;
}

#pagenation li.active {
  background-color: blue;
  color: white;
  border-color: blue;
}