/* 기본 설정 */
* {
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 1.2;
    color: #666;
    font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
    font-weight: 400;
}

ul, ol { list-style: none; }
a {
    color: inherit;
    text-decoration: none;
}
button { border: 0 none; }

/* 화면 전체 */
#wrap {
    position: relative;
    width: 100%;
    min-width: 1040px;
}

/* 공통 컨텐츠 */
.contents {
    width: 980px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

/* 최상단 광고 배너 */
#ad-wrap-top-container {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    background-color: #191413;
}

#ad-wrap-top {
    position: relative;
    width: 980px;
    height: 80px;
    margin: 0 auto;
}

.ad-top-close {
    position: absolute;
    right: 10px;
    top: 11px;
    cursor: pointer;
}

/* 상단 헤더 */
#header {
    position: relative;
    /* z-index: 101; */
}

#header-top-wrap {
    /* margin-bottom: 50px; */
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    padding: 30px 6px 25px 5px;
}

/* 헤더 좌측 - 로고 */
.header-title {
    display: inline-flex;
    align-items: flex-end;
    height: 53px;
}

.header-title a {
    display: block;
    float: left;
    height: 100%;
}

.header-title img {
    height: 100%;
}

.header-title>span {
    font-weight: 300;
    font-size: 16px;
    color: #222;
    letter-spacing: 0.313em;
    line-height: 1.500em;
}

/* 헤더 우측 - 회원 정보 관련 메뉴 */
.member-menu--wrap {
    display: flex;
    align-items: center;
}

.member-menu--wrap > li {
    margin-left: 44px;
    margin-top: 2px;
}
.header-memeber--menu {
    display: block;
    position: relative;
    /* padding-bottom: 19px; */
    padding-bottom: 16px;
}
.header-memeber--menu > img {
    width: 36px;
    height: 36px;
}
.header-memeber--menu > span {
    position: absolute;
    bottom: 0;
    left: 50%;
    line-height: 1.462em;
    font-size: 13px;
    white-space: nowrap;
    transform: translate(-50%, 0);
}

/* 메뉴 */
nav {
    position: absolute;
    left: 0;
    /* top: 193px; */
    width: 100%;
    height: 0;
    padding: 4px 0;
    background-color: #ffffff;
}

nav:after {
    content: '';
    position: absolute;
    top: 49px;
    width: 100%;
    height: 2px;
    background-color: #fb4357;
}

.dropMenu-active {
    position: absolute;
    height: 389px;
    z-index: 2;
    transition: height 0.4s ease-in-out;

}

.nav-menu--wrap {
    display: inline-flex;
}

.nav-menu--wrap > li:first-child {
    width: 137px;
}
.nav-menu--wrap > li {
    width: 162px;
    padding: 20px 0;
}

.nav-menu--wrap > li > h2 {
    position: absolute;
    top: 7px;
}
.nav-menu--wrap > li:nth-child(2) > h2 { left: 80px; }
.nav-menu--wrap > li:nth-child(3) > h2 { left: 160px; }
.nav-menu--wrap > li:nth-child(4) > h2 { left: 240px; }
.nav-menu--wrap > li:nth-child(5) > h2 { left: 335px; }
.nav-menu--wrap > li:nth-child(6) > h2 { left: 430px; }
.nav-menu--wrap > li > h2 > a {
    font-weight: 500;
    font-size: 16px;
    color: #222;
    line-height: 1.500em;
}
.nav-menu--wrap > li > h2 > a > strong {
    font-weight: 700;
    color: #fb4357;
}

.search-wrap {
    display: inline-flex;
    position: absolute;
    right: 0;
    top: 7px;
    padding: 0 36px 0 10px;
}
.search-wrap::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 1px;
    height: 20px;
    background-color: #cacaca;
}
.search-wrap::after {
    content: '';
    position: absolute;
    right: 0;
    top: 2px;
    width: 1px;
    height: 20px;
    background-color: #cacaca;
}

.search-wrap > label{
    display: block;
}

.search-wrap > label > input[type="text"]  {
    width: 180px;
    height: auto;
    padding: 0 0 0 7px;
    font-size: 16px;
    line-height: 1.500em;
    border: none;
}
.search-wrap > label > input[type="text"]::placeholder {
    color: #222;
}

.search-btn {
    display: block;
    position: absolute;
    right: 10px;
    top: -1px;
    width: 26px;
    height: 26px;
    font-size: 0;
    line-height: 0;
    background: transparent url(./../img/search.png) center center / 26px scroll no-repeat;
    cursor: pointer;
}


/* 드롭메뉴 */
.nav-dropMenu--wrap {
    display: none;
    position: relative;
    margin-bottom: 8px;
    padding: 25px 0 0 25px;
}

.nav-dropMenu--wrap dt { padding-top: 18px; }
.nav-dropMenu--wrap dt>h2 { font-weight: 500; }
.nav-dropMenu--wrap dt + dd { margin-top: 8px; }

.nav-menu--wrap > li:first-child .nav-dropMenu--wrap {
    padding-left: 0;
}

.nav-dropMenu--wrap dt a {
    font-weight: 700;
    font-size: 14px;
    color: #222;
    line-height: 1.429em;
}

.nav-dropMenu--wrap h3 {
    height: auto;
    margin: 0;
    line-height: 1em;
    text-align: left;
    background-image: none;
}

.nav-dropMenu--wrap dd a {
    font-weight: 400;
    font-size: 14px;
    color: #666;
    line-height: 2.143em;
}

.nav-dropMenu--wrap a:hover { text-decoration: underline; }